[submodule "fletcher-oc-accel-installscripts"]
path = fletcher-oc-accel-installscripts
url = https://github.com/joosthooz/fletcher-oc-accel-installscripts

[submodule "labs/lab1_oc-accel/oc-accel-tutorial"]
path = labs/lab1_oc-accel/oc-accel-tutorial
url = https://github.com/joosthooz/oc-accel-tutorial.git

[submodule "labs/lab2_arrow/arrow-intro"]
path = labs/lab2_arrow/arrow-intro
url = https://github.com/johanpel/arrow-intro
